div {
border: 100rem;
box-sizing:border-box;
border-radius: 10%;
border-width: 70px;
background-color:antiquewhite;
 margin-bottom:10000px;
 margin-left: 10px;
 margin-right: 0px;
 margin-top: 1px;
}